@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-900px * 10));
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(calc(900px * 10));
    }
    100% {
        transform: translateX(0);
    }
}